/Modules
/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
.rnd
/.expo
/.vscode
/docker-compose/db/data/
.gitkeep
/public/docs
/.scribe
!storage/fonts/.gitkeep
.DS_Store
.editorconfig
.env.example
.env.testing
.eslintrc.js
.gitattributes
.php-cs-fixer.dist.php
.prettierrc.json
artisan
bootstrap/*
composer.lock
crater.code-workspace
crowdin.yml
database/.gitignore
package-lock.json
postcss.config.js
public/.htaccess
public/.user.ini
server.php
storage/*
tailwind.config.js
tsconfig.json
vite.config.ts
yarn.lock
